# Supabase Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ACCESS_TOKEN=

# Mercado Pago Configuration
MP_ACCESS_TOKEN=
WEBHOOK_BASE_URL=https://pagos-955968394030.us-central1.run.app

# Google AI Studio Configuration
GEMINI_API_KEY=
